[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Icon=/opt/pycharm/bin/pycharm.png
Exec="/opt/pycharm/bin/pycharm.sh" %f
Comment=Python IDE by JetBrains
Categories=Development;IDE;
Terminal=false
StartupNotify=true
